service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow get: if true;
      allow list: if false;
      allow delete: if false;
      allow update: if request.resource.data.uid == request.auth.uid && request.auth.uid == resource.data.uid;
      allow create: if request.resource.data.uid == request.auth.uid;
    }
  }
}
